<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 0.75em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }
.margin-bot-00 { margin-bottom: 0.0em; }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<body ng-app="brumulusKiosk" ng-controller="brumulusController" style="overflow-y: hidden;">

<div class="container-fluid">
  <div class="row">
		<div class="col-xs-6">
      <div id="chart_div" class="" style="width: 130px; height: 170px;"></div>
    </div>
    <div class="col-xs-6 col-centered" >
      <div class="row margin-top-10">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default btn-lg">
            {{ brumulus_values.current_temp }}
          </button>
          <button type="button" class="btn btn-default btn-sm">
            {{ brumulus_values.temp_delta }}
          </button>
        </div>
      </div>
      <div class="row margin-top-05">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default btn-lg" ng-click="increment_target_temp()">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </button>
          <button type="button" class="btn btn-default btn-lg">
            {{ brumulus_values.target_temp }}
          </button>
          <button type="button" class="btn btn-default btn-lg" ng-click="decrement_target_temp()">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
        </div>
      </div>
      <div class="row margin-top-05">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-info btn-lg" ng-disabled="brumulus_values.chiller == 'Off'">
            {{ brumulus_values.chiller }}
          </button>
          <button type="button" class="btn btn-warning btn-lg" ng-disabled="brumulus_values.heater == 'Off'">
            {{ brumulus_values.heater }}
          </button>
        </div>
      </div>
  </div>
  <div class="alert-box alert alert-danger text-center" role="alert" ng-hide="brumulus_values.chiller_info == null">
    {{ brumulus_values.chiller_info }}
  </div>
  <div class="alert-box alert alert-danger text-center" role="alert" ng-hide="brumulus_values.heater_info == null">
    {{ brumulus_values.heater_info }}
  </div>
</div>

<script>
var app = angular.module('brumulusKiosk', []);

app.controller('brumulusController', function($scope, $http, $interval) {

  $display_url = "http://192.168.0.150:8000/action/"
  $display_url_get_all = $display_url+"get_all"
  $display_url_incr_temp = $display_url+"increment_target_temp"
  $display_url_decr_temp = $display_url+"decrement_target_temp"

  $scope.temp_time_series = [];

  $http.get($display_url_get_all)
  .success(function(response) {
    $scope.brumulus_values = response.data;
  });

  $scope.increment_target_temp = function() {
    $http.get($display_url_incr_temp)
    .success(function(response) {
      $scope.brumulus_values.target_temp = response.data.target_temp;
    });
  }

  $scope.decrement_target_temp = function() {
    $http.get($display_url_decr_temp)
    .success(function(response) {
      $scope.brumulus_values.target_temp = response.data.target_temp;
    });
  }

  $interval(function(){
    $http.get($display_url_get_all)
    .success(function(response) {
      $scope.brumulus_values = response.data;
      $scope.temp_time_series.push(response.data);
      drawChart(response.data)
    });
  },5000)


});
//
var chartData = [['Time','Temp','Set Point']]
var currCreatedAt = null
var tempData = []

function drawChart(newData) {
  MAX_LEN_DATA = 60

  if (!newData || !newData.created_at || !newData.current_temp){
    return
  }
//
  if ( newData.created_at == currCreatedAt )
    return

  currCreatedAt = newData.created_at

  tempData.push(newData.current_temp)
  chartData.push([Date.parse(newData.created_at), Number(newData.current_temp), Number(newData.target_temp)])

  if (chartData.length > MAX_LEN_DATA){
    chartData.splice(1,1)
    tempData.splice(0,1)
  }

  var data = google.visualization.arrayToDataTable(chartData);

  minValue = Math.min( newData.target_temp, Math.min.apply(Math, tempData)) - 1;
  maxValue = Math.max( newData.target_temp, Math.max.apply(Math, tempData)) + 1;

  var options = {
    legend: 'none',
    hAxis: {
      textPosition: 'none',
      titleTextStyle: {color: '#333'},
      gridlines: {count: 2}
    },
    vAxis: {
      // textPosition: 'none',
      gridlines: {count: 3},
      minValue: minValue,
      maxValue: maxValue,
      textStyle: { fontSize: 6 }
    },
    chartArea: {
      left: 12,
      top: 12,
      width: 200,
      height: 150
    }
  };

  var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}

google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);


</script>

</body>
</html>
